<!DOCTYPE html>
<html>
<title>IFPB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 95% ;}
.bgimg {
    background-image: url('images/imagem.png');
    min-height: 110.8%;
    background-position: center;
}
.btn_massa{
    width: 124px;
    margin-top: 8px
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-animate-top">IFPB GUARABIRA</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <div class="w3-center w3-panel w3-animate-top">
        <button class=" btn_massa w3-btn w3-green"> <a href="/professor" style="text-decoration:none" >Professores</a></button>
        <button class="btn_massa w3-btn w3-green"><a href="/cursos" style="text-decoration:none" >Cursos</a></button>            
    </div>
  </div>
</div>
</body>
</html>